<div class="promo-hero promo-hero-bg-image">
  <div class="promo-hero-content">
    <h1 class="promo-hero-title">A Transformational New Sports and Leisure Destination</h1>
    <p class="promo-hero-description hide-for-small-only">Based in the heart of the South Wales Valleys, UK.</p>
    <div class="promo-hero-ctas">
      <a href="/survey.html" class="promo-section-cta button large success">Take Survey</a>
    </div>
  </div>
</div>
<section class="home-intro">
<div class="grid-container ">
  <div class="grid-x grid-margin-x">
    <div class="cell text-center">  <h2>In the valleys, between Cardiff and the Brecon Beacons, lie 575 acres of history, known as Rhydycar West.</h2></div>
    <div class="cell medium-12 large-6">
      <p class="lead"> The area at its height was one of the largest mining operations in Wales. Since the mid-20th century, the land has remained untouched and there are emerging plans to restore and protect the long-forgotten land and create a sustainable economic base and future legacy for the South Wales Valleys.</p>
      <p>We came to own the land a number of years ago, and since then we have taken time and care to understand the nature of the site and the direction and ambitions of the local area. </p>
      <p>Speaking with regional and national stakeholders as well as the local community, we have come up with some ideas for the land. Please let us know what you think.</p>
    </div>
    <div class="cell medium-12 large-6">
      <div class="videoWrapper" style="position: relative; padding-bottom: 56.25%; padding-top: 25px; height: 0;">
        <iframe allowfullscreen="allowfullscreen" frameborder="0" height="360" src="http://player.vimeo.com/video/293897352" style="position: absolute; top: 0; left: 0; width: 100%; height: 100%;" width="640"></iframe>
      </div>
    </div>
  </div>
</div>
</section>
<section id="elements">
  <div class="grid-container">
    <div class="grid-x grid-margin-x">
      <div class="cell text-center">
        <h1> The Elements</h1>
        <h4>Our three signature sports and leisure facilities are all indoor.</h4>
        <p>So you can play in the snow, ride in the dirt and splash in the water every day of the year – regardless of the weather.</p>

        <p>Complementing other local sports offerings like Bike Park Wales and Rock UK, Rhydycar West will provide the largest indoor sports and leisure facilities in the area and we will undoubtedly become one of the premiere tourist destinations for the South Wales Valleys. For all year round. <strong>That's Rhydycar West!</strong></p>

      </div>
    </div>

    <div class="grid-x grid-margin-x small-1 medium-up-2 large-up-3 " data-equalizer>
      <div class="cell">
        <div class="card">
          <div class="card-divider elements">
            <h4>Indoor Snow Centre</h4>
          </div>
          <div class="card-image">
            <%= image_tag("ski-card.jpg") -%>
          </div>
          <div class="card-section">

            <div class="text-center">
              <a class="button primary" href="/elements.html">Learn More</a>
            </div>
          </div>
        </div>
      </div>
      <div class="cell">
        <div class="card">
          <div class="card-divider">
            <h4>Indoor Water Park</h4>
          </div>
          <div class="card-image">
            <%= image_tag("water-card.jpg") -%>
          </div>
          <div class="card-section">
            <div class="text-center">
              <a class="button primary" href="/elements.html">Learn More</a>
            </div>
          </div>
        </div>
      </div>

      <div class="cell">
        <div class="card">
          <div class="card-divider">
            <h4>Accomodation</h4>
          </div>
          <div class="card-image">
            <%= image_tag("accomodation-card.jpg") -%>
          </div>
          <div class="card-section">


            <div class="text-center">
              <a class="button primary" href="/elements.html">Learn More</a>
            </div>
          </div>
        </div>
      </div>
      <div class="cell">
        <div class="card">
          <div class="card-divider">
            <h4>Outdoor Adventure</h4>
          </div>
            <div class="card-image">
              <%= image_tag("adventure-card.jpg") -%>
            </div>
          <div class="card-section">


            <div class="text-center">
              <a class="button primary" href="/elements.html">Learn More</a>
            </div>
          </div>
        </div>
      </div>
      <div class="cell">
        <div class="card">
          <div class="card-divider">
            <h4>Homes</h4>
          </div>
          <div class="card-image">
            <%= image_tag("homes-card.jpg") -%>
          </div>
          <div class="card-section">


            <div class="text-center">
              <a class="button primary" href="/elements.html">Learn More</a>
            </div>
          </div>
        </div>
      </div>
    </div>
</section>
